# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE files
/.idea/
/.vs/
/.vscode/

# Build files
/cmake-build-debug/
/cmake-build-release/
/x64/
/E-Buy-API/
/database/database.db

# Environment variables
.env
